.idea
.venv
.ipynb_chekpoints
tom.egg-info
/docs/
/data/
/venv/
/plots/
/models/
/results/
/notebooks/
/videos/
/dist/
/build/

# Ignore downloaded crack detection models
/crackpy/crack_detection/models/

# Ignore all files in the scripts folder except for python files
/scripts/**/*.*
!/scripts/**/*.py

__pycache__
*.xml
*.iml
*.pyc
